a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  text-decoration: none;
}

.app-container {
  padding: 20px;
}

.ant-table-tbody > tr.ant-table-row:hover > td,
.ant-table-tbody > tr > td.ant-table-cell-row-hover {
  background: unset;
}

.app-row {
  cursor: pointer;
}

.app-row:hover {
  background: #ccc !important;
}
