a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  text-decoration: none;
}

.app-container {
  padding: 20px;
  min-height: calc(100vh - 64px);
  box-sizing: border-box;
  min-width: 1200px;
}

.ant-table-tbody > tr.ant-table-row:hover > td,
.ant-table-tbody > tr > td.ant-table-cell-row-hover {
  background: unset;
}

.app-row {
  cursor: pointer;
}

.app-row:hover {
  background: #ccc !important;
}

.steps-content {
  min-height: fit-content;
}

.steps-action {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.list-term {
  text-align: justify;
  font-weight: 500;
}
.list-term li {
  padding: 10px 5px;
}

body{
  font-size: 16px !important;
}